body {
  font: 12px/1.5 "Lucida Grande",tahoma,arial, 宋体;
}
#bread-crumb {
  margin-top: 17px;
}

/* aside 
====================================== */
.cate_tit_ico {
  background-image: url(../img/peijian_list/sprites-arrow.png);  
}
.cate, .recommend {
background-image: url(../img/peijian_list/bg_repeat.png);
background-repeat: repeat-y;
}


/* aside 
====================================== */
.aside {
  float: left;
  width: 190px;
}


/* 导航
====================================== */
.cate {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-position: 0 0;
  height: auto;
  overflow: hidden;
  zoom: 1;
}
.cate-hd {
border: 1px solid #d9d9d9;
border-top: 0 none;
height: 39px;
line-height: 38px;
padding: 0 15px;
height: auto;
overflow: hidden;
zoom: 1;
}
.cate-bd {
margin-bottom: -1px;
height: auto;
overflow: hidden;
zoom: 1;
}
.cate-hd-tit {
font-size: 16px;
font-weight: normal;
color: #000;
font-family: "微软雅黑";
}
.cate-item {
padding: 0 15px;
border-left: 1px solid #d9d9d9;
border-right: 1px solid #d9d9d9;
width: 158px;
height: auto;
overflow: hidden;
zoom: 1;
}
.cate-item-on {
background-color: #fff;
border-right: 0 none;
border-top: 1px solid #d9d9d9;
margin-top: -1px;
border-bottom: 1px solid #d9d9d9;
padding-bottom: 5px;
}
.cate-tit {
height: 32px;
line-height: 31px;
border-bottom: 1px dotted #d9d9d9;
position: relative;
overflow: hidden;
cursor: pointer;
}
.cate-item-on .cate-tit {
border-bottom: 1px solid #fff;
}
.cate-tit-a {
font-size: 14px;
cursor: pointer;
display: block;
height: auto;
overflow: hidden;
zoom: 1;
float: left;
text-decoration: none!important;
}
.cate-tit-name {
float: left;
max-width: 85px;
_width: 85px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-family: "微软雅黑";
}
.cate_tit_ico {
position: absolute;
right: 0;
top: 10px;
display: block;
width: 13px;
height: 13px;
background-position: -19px -0px;
cursor: pointer;
zoom: 1;
}
.cate-cnt {
display: none;
height: auto;
overflow: hidden;
zoom: 1;
}
.cate-item-on .cate-cnt {
display: block;
}
.cate-lk {
float: left;
height: 18px;
line-height: 17px;
overflow: hidden;
margin-bottom: 6px;
padding: 0 2px;
width: 75px;
cursor: pointer;
text-decoration: none!important;
}
.cate-lk-on {
width: 79px;
padding: 0;
}
.cate-lk-name {
float: left;
max-width: 75px;
_width: 75px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.cate-lk-on .cate-lk-name {
color: #fff!important;
padding: 0 2px;
background-color: #1d7ad9;
height: 18px;
}

/* 本周热销榜
====================================== */
.recommend {
border: 1px solid #d9d9d9;
border-top: 0 none;
padding: 10px 15px 15px;
background-position: -195px 0;
height: auto;
overflow: hidden;
zoom: 1;
}
.recommend-tit {
font-family: "微软雅黑";
font-size: 16px;
color: #000;
font-weight: normal;
}
.recommend-goods {
height: auto;
overflow: hidden;
zoom: 1;
}
.recommend-goods-li {
margin-top: 20px;
height: auto;
overflow: hidden;
zoom: 1;
}
.mod-goods-w60 {
padding-left: 70px;
height: auto!important;
min-height: 60px;
height: 60px;
}
.recommend-goods .mod-goods-img {
height: 60px;
overflow: hidden;
zoom: 1;
}
.mod-goods-w60 .mod-goods-img {
position: absolute;
margin-left: -70px;
width: 60px;
}

/**
 * 右边主要内容
 */
.content {
  float: right;
  width: 992px;
  font: 12px/1.5 "Lucida Grande",tahoma,arial, 宋体;
  color: #666;
}
.content a {
color: #333;
text-decoration: none;
}

/* 顶部热卖商品推荐
====================================== */
.hotsale {
width: 958px;
border: 1px solid #d9d9d9;
padding: 0 15px 10px;
height: auto;
overflow: hidden;
zoom: 1;
}
.hotsale-hd {
height: 32px;
line-height: 31px;
}
.hotsale-tit {
font-family: "微软雅黑";
font-size: 14px;
font-weight: bold;
color: #000;
}
.hotsale-bd {
height: 120px;
overflow: hidden;
zoom: 1;
position: relative;
}
.hotsale-goods-ul {
width: 968px;
}
.hotsale-goods-li {
float: left;
width: 312px;
margin-right: 10px;
margin-bottom: 10px;
}
.mod-goods-w120 {
padding-left: 130px;
height: auto!important;
min-height: 95px;
height: 95px;
}
.mod-goods-w120 .mod-goods-img {
position: absolute;
margin-left: -130px;
width: 120px;
}
.hotsale-goods .mod-goods-info {
height: 95px;
overflow: hidden;
position: relative;
}
.mod-goods-img a {
display: inline-block;
}
.mod-goods-img img {
display: block;
margin: auto;
}
.hotsale-goods .mod-goods-tit {
margin-bottom: 5px;
}
.mod-goods-tit {
overflow: hidden;
height: 36px;
word-wrap: break-word;
word-break: break-all;
}
.hotsale-goods .mod-goods-price {
line-height: 21px;
height: 21px;
overflow: hidden;
margin-top: 5px;
}
.hotsale-goods .mod-price {
yu-float: left;
font-size: 16px;
color: #d70000;
font-weight: bold;
}
.mod-price i {
margin-right: 2px;
font-size: 12px;
font-family: "arial";
}
.hotsale-btn {
position: absolute;
bottom: 0;
left: 0;
height: auto;
overflow: hidden;
}
.hotsale-buy {
float: left;
width: 85px;
height: 24px;
text-indent: -9999px;
overflow: hidden;
background: url(../img/peijian_list/hotsale-btn.png) no-repeat center center;
}

/* 属性区
====================================== */
.filter {
margin-bottom: 10px;
position: relative;
z-index: 4;
clear: both;
zoom: 1;
}
.filter-area {
clear: both;
padding: 0;
}
.filter-item {
position: relative;
height: auto;
padding: 7px 0 1px;
border-bottom: 1px dotted #ddd;
zoom: 1;
}
.filter-tit {
float: left;
width: 75px;
margin-right: 40px;
color: #999;
text-align: right;
height: 18px;
line-height: 17px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.filter-con {
float: left;
position: relative;
}
.filter-item-brand .filter-dl {
position: relative;
padding-left: 54px;
width: 716px;
}
.filter-item-multiple .filter-dl {
max-height: 69px;
overflow: hidden;
}
.filter-dl {
width: 770px;
position: relative;
}
.filter-dt a {
display: block;
float: left;
height: 18px;
line-height: 17px;
white-space: nowrap;
padding: 0 2px;
zoom: 1;
color: #1d7ad9;
text-decoration: none!important;
}
.filter-dt-on a {
background-color: #1d7ad9;
color: #fff!important;
text-decoration: none!important;
}
.filter-item-brand .filter-dt, .filter-item-brand .filter-dd, .filter-item-atoz .filter-dt, .filter-item-atoz .filter-dd {
width: 125px;
padding-right: 0;
margin-right: 0;
}
.filter-dd {
float: left;
padding-bottom: 5px;
padding-right: 10px;
zoom: 1;
white-space: nowrap;
}
.filter-item-brand .filter-dt {
position: absolute;
left: 0;
top: 0;
}
.filter-lk {
position: relative;
float: left;
display: block;
height: 18px;
line-height: 17px;
padding: 0 2px;
margin-right: 16px;
white-space: nowrap;
zoom: 1;
color: #1d7ad9;
text-decoration: none!important;
cursor: pointer;
}

/* 排序和价格筛选区
====================================== */
.sort {
height: 31px;
background-color: #f5f5f5;
border: 1px solid #d9d9d9;
padding: 0 10px;
position: relative;
z-index: 3;
}
.sort-send {
float: left;
border-right: 1px solid #d9d9d9;
padding-right: 5px;
}
.sort-send-tit {
float: left;
height: 31px;
line-height: 30px;
color: #333;
}
.sort-cate {
float: left;
padding: 4px 5px;
padding-right: 2px;
margin: 0;
height: 23px;
border-right: 1px solid #d9d9d9;
}
.sort-cate-lk {
float: left;
width: auto;
height: 23px;
text-align: center;
margin-right: 3px;
text-decoration: none!important;
padding: 0 5px;
}
.sort-cate-default {
padding: 0 10px;
}
.sort-cate-on {
background-color: #1d7ad9;
color: #fff!important;
}
.sort-cate-lk span {
float: left;
height: 23px;
line-height: 22px;
overflow: hidden;
}
.sort-arrow {
float: left;
width: 8px;
height: 10px;
vertical-align: middle;
margin-right: 3px;
background-image: url(../img/peijian_list/sprites_sort.png);
background-position: 0 0;
margin-left: 1px;
margin-top: 7px;
overflow: hidden;
}
.sort-price {
float: left;
width: 95px;
padding: 4px 5px;
height: 23px;
border-right: 1px solid #d9d9d9;
}
.sort-price-detail {
float: left;
height: 23px;
overflow: hidden;
zoom: 1;
}
.sort-price-detail-main {
float: left;
height: auto;
overflow: hidden;
zoom: 1;
}
.sort-price-input {
float: left;
width: 36px;
height: 21px;
line-height: 19px;
color: #999;
background-color: #fff;
box-shadow: inset 2px 2px 0 #f3f3f3;
padding: 0 2px;
border: 1px solid #d9d9d9;
text-align: left;
}
.sort-price-bar {
float: left;
width: 10px;
color: #666;
text-align: center;
line-height: 20px;
}
.sort-type {
float: left;
width: 210px;
padding: 0 5px;
height: 31px;
}
.sort-type-main {
float: left;
width: 165px;
height: 23px;
overflow: hidden;
zoom: 1;
}
.sort-type-radio {
float: left;
height: 15px;
line-height: 14px;
margin-top: 8px;
margin-right: 10px;
margin-bottom: 10px;
white-space: nowrap;
cursor: pointer;
text-decoration: none!important;
}
.sort-type-radio i {
float: left;
width: 15px;
height: 15px;
background-image: url(../img/peijian_list/sprites_radio.png);
margin-right: 3px;
}
.sort-type-radio span {
float: left;
height: 15px;
line-height: 14px;
white-space: nowrap;
}
.sort-page {
float: right;
height: 31px;
line-height: 30px;
padding-left: 5px;
overflow: hidden;
}
.sort-page-txt {
float: left;
color: #999;
}
.sort-page-txt b {
font-weight: bold;
color: #d70000;
margin: 0 2px;
}
.sort-page-num {
float: left;
margin-left: 20px;
}
.goods {
padding: 5px 20px;
margin-bottom: 10px;
}
.goods-ul {
_zoom: 1;
height: auto;
padding: 0;
width: 1002px;
}
.goods-li {
float: left;
position: relative;
width: 196px;
height: 270px;
padding: 15px 0;
_zoom: 1;
margin-right: 54px;
cursor: pointer;
}
.goods-li-hover {
z-index: 2;
}
.goods-li .mod-goods {
position: absolute;
top: 0;
left: 0;
background-color: #fff;
padding: 20px 15px 15px 15px;
border: 3px solid #fff;
width: 160px;
}
.goods-li .mod-goods {
-webkit-transition: all .2s ease-in 0s;
transition: all .2s ease-in 0s;
}
.goods .mod-goods-img {
position: relative;
display: block;
width: 160px;
height: 160px;
margin: 0 auto 5px;
}
.mod-goods-img {
text-align: center;
}
.mod-goods-img a {
display: inline-block;
}
.goods .mod-goods-img img {
width: 160px;
height: 160px;
overflow: hidden;
}
.goods .mod-goods-info {
width: 160px;
margin: 0 auto;
}
.goods .mod-goods-tit {
margin-bottom: 5px;
}
.mod-goods-price {
margin: 0 0 5px;
height: 24px;
zoom: 1;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.mod-price {
color: #d70000;
font-weight: bold;
font-size: 14px;
}
.goods-more {
position: relative;
}
.goods-more-hd {
_zoom: 1;
padding-bottom: 10px;
height: auto;
}
.goods-buy {
position: relative;
float: left;
width: 85px;
height: 24px;
background: url(../img/peijian_list/hotsale-btn.png) no-repeat center center;
overflow: hidden;
zoom: 1;
}
.goods-li-hover .mod-goods {
border: 3px solid #f0f0f0;
}

/* 分页 
=========================================================== */
.mod-page {
padding: 15px 0 20px;
text-align: right;
}
.mod-page-disable {
border: 1px solid #DDD;
color: #999;
}
.mod-page-lk, .mod-page-on, .mod-page-etc, .mod-page-disable {
padding: 0 12px;
}
.mod-page-lk, .mod-page-on, .mod-page-etc, .mod-page-disable, .mod-page-turn {
height: 26px;
line-height: 24px;
line-height: 28px\9;
_line-height: 24px;
}
.mod-page-lk, .mod-page-on, .mod-page-etc, .mod-page-disable, .mod-page-turn, .mod-page-go {
overflow: hidden;
display: inline-block;
margin-left: 5px;
vertical-align: top;
}
.mod-page-on {
cursor: default;
border: 1px solid #26b;
background-color: #26b;
color: #FFF;
}
.mod-page-lk {
border: 1px solid #c9c9c9;
background-color: #FFF;
}
.mod-page a:hover {
border-color: #AAA;
text-decoration: none;
}
.mod-page-turn input {
margin: 0 2px;
width: 35px;
height: 22px;
border: 1px solid #c9c9c9;
line-height: 22px;
text-align: center;
}